.App {
  text-align: center;
 
}
.home {
  width:90%;
  margin-left: 5%;
}
#events img {
  width:32%;
  height:370px;
  border-radius: 10px;
}
div h2{
  text-align: center;
}

/* .navbar{
  margin-top: 20px;
} */

#drop{
  display:none;
}
.Navbar ul li:hover #drop{
display:block;
/* width:100px; */
position:absolute;
background:white ;
margin-top:1px;
margin-left:-15px;
list-style: none;
}

